/*Common shared style*/
*{
    font-family: Inter;
    font-family: Merriweather;
}
.text-primary{
    color: #F00;
    font-size: 24px;
    font-weight: 900;
}
.button-primary{
    color: #F00;
}
/*Header related style*/
.header{
    
    margin: 50px 140px;
    max-width: 1058px;
    height: 365px;
}
.banner{
    background-image: url('../images/Banner\ Image.png');
    background-size: contain;
    height: 365px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-content{
    text-align: center;
    padding: 83px 118px;
}
.banner-greeting{
    color: #eee7e7;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}
.banner-title{
    color: #FFF;
    font-size: 52px;
    font-weight: 900;
    margin-top: 0px;
}
/*main section style*/
main{
    max-width: 1320px;
    height: 365px;
}
main section{
    margin: 50px 140px;
    border-radius: 16px;
}
.section-container{
    padding: 0px 119px;
    text-align: center;
}
.section-container-discount{
    color: #F00;
    font-family: Inter;
    font-weight: 700;
    font-size: 88px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-container-greeting{
    color: #F00;
    font-size: 24px;
    margin-top: 48px;
    font-family: Inter;
    font-weight: 500;
}
.section-container-title{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    font-family: Inter;
    margin-bottom: 0px;
}

.section-container-image{
    margin-top: 48px;
    width: 630px;
}
/*section two*/
.section-two{
    background-image: url(../images/Vectorrr.png);
    background-size: cover;
    display: flex;
}
.section-two-container{
    display: flex;
    margin: 77px 71px 38px 67px;
}
.section-description-container{
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
}
.section-images{
    width: 273px;
    height: 265px;
}
.welcome-message{
    color: #FFF;
    font-size: 47px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 24px;
}
.welcome-intro{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.section-end-message{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
/*Section three style*/
.secion-three{
    background-color: rgba(255, 0, 0, 0.1);
}
.section-adress{
    color: rgba(7, 2, 17, 1);
    padding: 58px 120px 47px 106px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: Inter;
}
.section-button{
   text-align: center;
   padding: 0px 0px 46px 0px;
}
.button-primary{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: red;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 16px 32px;
    border: 0;
}
/*section four style*/

.section-four-container{
    display: flex;
    gap: 30px;
}
.section-four-description{
    margin-top: 24px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}
.sec4-title{
    margin-top: 0;
    margin-bottom: 0;
    color: #070211;
    font-size: 24px;
    font-weight: 900;
}
.event-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.sec4-ellips{
    border-radius: 416px;
    border: 23px solid #F00;
    margin: 5px auto;
}
/*section5 style*/
.sec5-descriptioin{
    text-align: center;
}
.sec5-photos{
    background-image: url('../images/Rectangle\ 1.png'),url('../images/Rectangle\ 2.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    height: 662px;
}
.sec5-group75-images{
    width: 296px;
    height: 426px;
}
.sec5-group44-image{
    height: 257px;
    width: 192px;
}
.sec5-greeting{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.sec5-title{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}
#text-holidy{
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}
.sec5-message{
    margin-top: 24px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
/*section 6 related style*/
/*.section-6-images{
    display: flex;
    width: 200px;
    height: 200px;
}*/
.row {
    display: flex;
    justify-content: center;
  }
.sec6-colmun-photo{
    width: 258px;
    height: 300px;
    padding: 0px 10px 10px 0px;
}
